.DS_Store
dgidevcon/buildchk_win7_x86.log
dgidevcon/objchk_win7_x86/i386/_objects.mac
dgidevcon/objchk_win7_x86/i386/_objects.mac
dgidevcon/objchk_win7_x86/i386/cmds.obj
*.obj
dgidevcon/objchk_win7_x86/i386/devcon.res
dgidevcon/objchk_win7_x86/i386/dump.obj
dgitracer/dgitracer.rc
dgiminidump/dgiminidump.rc
